body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  padding: 1rem;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0);
  text-align: center;
  transition: opacity 300ms;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.grid-container:hover .grid-item:not(:hover) {
  opacity: 0.3;
}

.header {
  text-align: center;
}
